body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Limita a largura máxima do container */
    width: 600px; /* Define uma largura padrão */
}

.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#telefones {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Impede o redimensionamento do textarea */
}

.botao {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

#formatarBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formatarBtn:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    white-space: pre-wrap; /* Preserva quebras de linha e impede overflow horizontal */
    word-wrap: break-word; /* Quebra palavras longas */
    width: 100%;
    max-height: 200px;
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
}


#copiarBtn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#copiarBtn:hover {
    background-color: #218838;
}
